@font-face {
  font-family: NanumGothic-ExtraBold;
  src: url('../fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf');
}

@font-face {
  font-family: NanumGothic-Bold;
  src: url('../fonts/Nanum_Gothic/NanumGothic-Bold.ttf');
}

.container {
  width: 99%;
  min-height: 100vh;
  padding: 15px;
  position: relative;
}

.occupied {
  margin-bottom: 1em;
  height: 7.2em;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.occupied div {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 6em;
  position: relative;
  display: inline-block;
}

.occupied div p {
  line-height: 3.5em;
  font-family: NanumGothic-ExtraBold;
  color: #f5efef;
  font-size: 1.1em;
}

.occupied .studio1_status, .studio2_status {
  width: 14%;
  height: 85%;
  border-radius: 10%;
}

.occupied .studio1_status {
  background-color: #02c4c7;
}

.occupied .studio2_status {
  margin-left: 6em;
  background-color: #797272;
}

.section_table {
  width: 85%;
  margin: 0px auto;
  text-align: center;
}

.section_table table {
  border: 1px solid;
  width: 100%;
  border-spacing: 0px;
  border-color: #b7afaf;
  text-align: center;
}

thead tr {
  height: 50px;
}

thead tr td {
  border-bottom: 0.9px solid #b7afaf;
  font-weight: 1000;
  color: #02c4c7;
  width: 10%;
  font-family: NanumGothic-ExtraBold;
}

tbody tr td {
  border-top: 0.2px solid #e4e4e4;
  border-right: 0.9px solid #b7afaf;
  width: 10%;
  font-family: NanumGothic-Bold;
  color: #5e5e5f;
}

tbody tr {
  height: 60px;
}

#top {
  text-align: center;
}

#top a {
  cursor: pointer;
}

#top p a img {
  width: 40px;
  height: 50px;
}

footer {
  display: block;
  clear: both;
  height: 150px;
  text-align: center;
}

footer .footer_img_wrapper {
  margin-top: 20px;
}

footer img {
  width: 18px;
  height: 18px;
}