@font-face {
  font-family: Baloo2-Medium;
  src: url('../fonts/Baloo_2/Baloo2-Medium.ttf');
}

@font-face {
  font-family: CuteFont-Regular;
  src: url('../fonts/Cute_Font/CuteFont-Regular.ttf');
}

@font-face {
  font-family: Jua-Regular;
  src: url('../fonts/Jua/Jua-Regular.ttf');
}

@font-face {
  font-family: NanumGothicCoding-Regular;
  src: url('../fonts/Nanum_Gothic_Coding/NanumGothicCoding-Regular.ttf');
}

@font-face {
  font-family: NanumGothic-ExtraBold;
  src: url('../fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf');
}

@font-face {
  font-family: NanumGothic-Bold;
  src: url('../fonts/Nanum_Gothic/NanumGothic-Bold.ttf');
}


header {
  height: 150px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

header nav {
  position: absolute;
  top: 0px;
  right: 10%;
}

header .logo_42 {
  width: 16%;
  height: 90%;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: 50px;
}

#main_title {
  text-align: center;
  vertical-align: middle;
  font-size: 2.2em;
}

#main_title p {
  line-height: 4.5em;
  font-family: NanumGothic-ExtraBold;
}

header nav div {
  border: none;
  width: 100%;
  height: 70px;
  background-color: none;
  color: #a99c9c;
  font-size: 16.5px;
  font-family: NanumGothic-ExtraBold;
  display: inline-block;
  border-radius: 1em;
  cursor: pointer;
}
