thead tr {
  background-color: red;
  height:100px;
}

tbody tr {
  background-color: purple;
  height:60px;
}

.occupied span::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
