
#header {
height: 70px;
}

#header nav {
  position: absolute;
  top: 0px;
  right: 50px;
}

#main_title {
	display:none;
}


#top p a img {
  width: 40px;
  height: 50px;
}  

header .logo_42 {
  width: 75px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.occupied div {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 6em;
  position: relative;
  display: inline-block;
}

.occupied div p {
  line-height: 3.5em;
  font-family: NanumGothic-ExtraBold;
  color: #f5efef;
  font-size: 1.1em;
}

.occupied .studio1_status, .studio2_status {
  width: 12em;
  height: 6em;
  border-radius: 10%;
}

.occupied .studio1_status {
  background-color: #02c4c7;
}

.occupied .studio2_status {
  margin-left: 6em;
  background-color: #797272;
}

.section_table {
  width: 100%;
  margin: 0px auto;
  text-align:center;
  
}


footer {
  display: block;
  clear: both;
  height: 150px;
  text-align: center;
}

footer .footer_img_wrapper {
  margin-top: 20px;
}

footer img {
  width: 18px;
  height: 18px;
}
